<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>動物詳細画面</title>
	<meta charset="utf-8" />
</head>

<body>
	<h1>動物詳細画面</h1>
	<ul th:each="animal : ${animalList}">
		<p th:text="'No：' + ${animal.id}"></p>
		<p th:text="'英名：' + ${animal.name}"></p>
		<p th:text="'和名：' + ${animal.japaneseName}"></p>
		<p th:text="'鳴き声：' + ${animal.cry}"></p>
	</ul>
	<!--================ ひとつ前のページへ戻る記述 =====================-->
	<button type="button" onclick="history.back()">トップへ</button>
</body>